/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);


html,
button,
input,
select,
textarea {
    color: #222;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,600);

@import url('reset.css');

@font-face {
    font-family: "Oxygen";
    src: url("../font/Oxygen.otf") ;
}
@font-face {
    font-family: "Ubuntu-L";
    src: url("../font/Ubuntu-L.ttf") ;
}
@font-face {
    font-family: "Cyberverse";
    src: url("../font/Cyberverse.ttf") ;
}


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 70%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  

    line-height: 1.4;
    color: #fff;
    min-width: 1200px;
    min-height: 500px;
    font-family: 'Terminal Dosis', Arial, sans-serif;
    font-size: 20px;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    color: #130B1B;
}

#container{
    position: absolute;
    margin: 0px;
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 7px #000;
    z-index: 3;
}


.moveLeft{
    margin-left: -100% !important;
    -webkit-transition: all 1500ms ease-in-out;
}

.moveRight{
    right: -100% !important;
    -webkit-transition: all 2500ms ease-in-out;
}

#letters{
    height: 140%;
    width: 80.45%;
    -webkit-transform: rotate(14deg);
    margin: -12% -5%;
    background-color: #000;
}



.os-phrases
{
    display: none;
    height: 100%;
    width: 110%;
    -webkit-transform: rotate(-14deg);
    margin-left: 17%;
}

/*  css for loader transition  */
.os-phrases h3 {
    font-family: 'Dosis', 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 150;
    width: 70%;
    overflow: hidden;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -4%;
    left: 0;
    letter-spacing: 14px;
    text-align: center;
}

.os-phrases h3,
.os-phrases h3 > span {
    height: 100%;
    /* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.os-phrases h3 > span {
    margin: 0 15px;
}

.os-phrases h3 > span > span {
    display: inline-block;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.os-phrases h3 > span > span > span {
    display: inline-block;
    color: hsla(0,0%,0%,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-animation: OpeningSequence 5.2s linear forwards;
    -moz-animation: OpeningSequence 5.2s linear forwards;
    animation: OpeningSequence 5.2s linear forwards;
}

.os-phrases h3:nth-child(2) > span > span > span {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

.os-phrases h3:nth-child(3) > span > span > span {
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    animation-delay: 10s;
}

.os-phrases h3:nth-child(4) > span > span > span {
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
}

.os-phrases h3:nth-child(5) > span > span > span {
    font-size: 100px;
    -webkit-animation-delay: 21s;
    -moz-animation-delay: 21s;
    animation-delay: 21s;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    animation-duration: 8s;
}

.os-phrases h3:nth-child(6) > span > span > span {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    animation-delay: 30s;
}

.os-phrases h3:nth-child(7) > span > span > span {
    -webkit-animation-delay: 34s;
    -moz-animation-delay: 34s;
    animation-delay: 34s;
}

@-webkit-keyframes OpeningSequence {
    0% {
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }
    50% {
        text-shadow: 0 0 1px #fff;
        letter-spacing: 14px;
        opacity: 0.8;
        -webkit-transform: rotateY(0deg);
    }
    85% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        -webkit-transform: rotateY(0deg) translateZ(100px);
    }
    100% {
        text-shadow: 0 0 10px #fff;
        opacity: 0;
        -webkit-transform: translateZ(130px);
        pointer-events: none;
    }
}

@-moz-keyframes OpeningSequence {
    0% {
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0.2;
        -moz-transform: rotateY(-90deg);
    }
    50% {
        text-shadow: 0 0 1px #fff;
        letter-spacing: 14px;
        opacity: 0.8;
        -moz-transform: rotateY(0deg);
    }
    85% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        -moz-transform: rotateY(0deg) translateZ(100px);
    }
    100% {
        text-shadow: 0 0 10px #fff;
        opacity: 0;
        -moz-transform: translateZ(130px);
        pointer-events: none;
    }
}

@keyframes OpeningSequence {
    0% {
        text-shadow: 0 0 50px #fff;
        letter-spacing: 80px;
        opacity: 0.2;
        transform: rotateY(-90deg);
    }
    50% {
        text-shadow: 0 0 1px #fff;
        letter-spacing: 14px;
        opacity: 0.8;
        transform: rotateY(0deg);
    }
    85% {
        text-shadow: 0 0 1px #fff;
        opacity: 0.8;
        transform: rotateY(0deg) translateZ(100px);
    }
    100% {
        text-shadow: 0 0 10px #fff;
        opacity: 0;
        transform: translateZ(130px);
        pointer-events: none;
    }
}

.os-phrases h3:nth-child(8) > span > span > span {
    font-size: 30px;
    -webkit-animation: FadeIn 4s linear 40s forwards;
    -moz-animation: FadeIn 4s linear 40s forwards;
    animation: FadeIn 4s linear 40s forwards;
}

@-webkit-keyframes FadeIn { 
    0% {
        opacity: 0;
        text-shadow: 0 0 50px #fff;
    }
    100% {
        opacity: 0.8;
        text-shadow: 0 0 1px #fff;
    }
}

@-moz-keyframes FadeIn { 
    0% {
        opacity: 0;
        text-shadow: 0 0 50px #fff;
    }
    100% {
        opacity: 0.8;
        text-shadow: 0 0 1px #fff;
    }
}

@keyframes FadeIn { 
    0% {
        opacity: 0;
        text-shadow: 0 0 50px #fff;
    }
    100% {
        opacity: 0.8;
        text-shadow: 0 0 1px #fff;
    }
}

/* Bold words */
.os-phrases h3:first-child .word3,
.os-phrases h3:nth-child(2) .word2,
.os-phrases h3:nth-child(4) .word2 {
    font-weight: 400;
}

/* css for menu */

#container_menu{

    background-color: #ccc;
    background-image: url('../img/bg.jpg');
    background-size: 100px;
    background-repeat: repeat;
    background-attachment: fixed;
}

a{
    color: #040A16;
    text-decoration: none;
    opacity: 0.7;
}
.clr{
    clear: both;
}
 
 /*  ==== fixed menu css */





/* ============================== */
.content{
    position:relative;
    margin-top: 15%;
    margin-bottom: 5%;
}

/* Header Style */
.header{
   font-family: "Cyberverse";
    text-align: center;
    position: fixed;
    width: 100%;
    font-size: 3vw;
    
}

#social_wrapper{
    position: absolute;
    top: -20px;
    right: 20px;

}

#social_wrapper ul{
    list-style-type: none;
}

#social_wrapper ul li{
    display: inline-block;
    height: 50px;
    width: 50px;
}

#social_wrapper ul li img{
    height: 100%;
    width: 100%;
}

#h-text{
    color: #ffffff;
    font-weight: bold;
}

#h-text p{
    font-size: 5vw;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
    color: #242424;
}

#bubble_area{
    position: relative;
}

.bub{
    height: 100px;
    width: 100px;
  
    position: absolute;
    border-radius: 100%;
}
#bub1{
    height: 150px;
    width: 150px;
    background-color: rgba(18,77,133,0.4);
    top: 50px;
    left: 0px;
}
#bub2{
    height: 500px;
    width: 500px;
    background-color: rgba(41,145,67,0.5);
    top: -4%; 
    right: 2%; 
}
#bub3{
    height: 150px;
    width: 150px;
     background-color: rgba(210,119,116,0.6);
    top: 20%;
    left: 4%;
}
#bub4{
    height: 400px;
    width: 400px;
    top: 10%;
    left: -2%;
    background-color: rgba(210,119,116,0.4);
}
#bub5{
     height: 40px;
    width: 40px;
     background-color: rgba(51,60,77,0.6);
    top: 79%;
    left: 8%;
}
#bub6{
    height: 550px;
    width: 550px;
    background-color:  rgba(36, 121, 248, 0.2);
    top: 12%;
    left: -11%;
}
#bub7{
     height: 200px;
    width: 200px;
    background-color: rgba(8, 30, 73, 0.6);
    top: 13%;
    left: 23%;
    
}
#bub8{
   height: 200px;
    width: 200px;
    background-color: rgba(60, 197, 157, 0.6);
    top: 50%;
    left: 85%;
}
#bub9{
    height: 100px;
    width: 100px;
    background-color: rgba(91,92,92,0.6);
    top: 79%;
    left: 83%;
}
#bub10{
    height: 150px;
    width: 150px;
    background-color: rgba(56,102,147,0.6);
    top: 6%;
    left: 34%;
}
#bub11{
     height: 150px;
    width: 150px;
    background-color: rgba(206,233,114,0.6);
    top: 60%;
    left: 74%;
}
#bub12{
     height: 450px;
    width: 450px;
    background-color: rgba(105,169,178,0.4);
    top: -20%;
    left: 25%;
}
#bub13{
     height: 350px;
    width: 350px;
    background-color: rgba(206,233,114,0.4);
    top: 20%;
    left: 10%;
}
#bub14{
     height: 350px;
    width: 350px;
    background-color: rgba(27, 156, 162, 0.4);
    top: 12%;
    left: 72%;
}
#bub15{
    
    height: 1000px;
    width: 1000px;
    background-color: rgba(128, 87, 95, 0.4);
    top: 0%;
    left: 72%;%;
}
#bub16{
    height: 90px;
    width: 90px;
    background-color: rgba(24, 55, 122, 0.6);
    top: 85%;
    left: 51%;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ca-menu{
    height: 100%;
    padding: 0 0 25px 48px;
    margin: 20px auto;
    width: 1020px;
}
.ca-menu li{
    width: 230px;
    height: 230px;
    border: 10px solid #f6f6f6;
    overflow: hidden;
    position: relative;
    float:left;
    background: #fff;
    margin-left:-48px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 40px;
    color: #f6f6f6;;
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.ca-main{
    font-size: 24px;
    position: absolute;
    top: 110px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
    color: #555;
}
.ca-sub{
    display: none;
}
.ca-menu li:hover{
    border-color: #333;
    z-index: 999;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.ca-menu li:hover .ca-icon{
    color: #000;
    font-size: 60px;
    text-shadow: 0px 0px 1px #000;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main{
    color: #000;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -ms-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
/* =======================  */

#right-part{
    position: absolute;   
    height: 135%;
    width: 30%;
    top: -5%;
    right: -5%;
    font-family: "Oxygen";   
    color: #000;  
    background-color: #474747;
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    -o-transform: rotate(14deg);
    -transform: rotate(14deg);
     overflow: hidden;
}

@-webkit-keyframes rot1 {
    0% {
        -webkit-transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    }

    50% {
        -webkit-transform: rotateX(192deg) rotateY(60deg) rotateZ(122deg);
    }

    100% {
        -webkit-transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    }
}

@-webkit-keyframes rot2 {
    0% {
        -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
    }

    50% {
        -webkit-transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    }

    100% {
        -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
    }

}

@-webkit-keyframes rot3 {
    0% {
        -webkit-transform: rotateX(70deg) rotateY(55deg) rotateZ(53deg);
    }

    50% {
        -webkit-transform: rotateX(113deg) rotateY(-60deg) rotateZ(72deg);
    }

   100% {
        -webkit-transform: rotateX(70deg) rotateY(55deg) rotateZ(53deg);
    }
}

@-webkit-keyframes rot4 {
    0% {
        -webkit-transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    }

    50% {
        -webkit-transform: rotateX(13deg) rotateY(-160deg) rotateZ(-12deg);
    }

    100% {
        -webkit-transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    }

}

@-webkit-keyframes rot5 {
    0% {
        -webkit-transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    }

    50% {
        -webkit-transform: rotateX(-102deg) rotateY(16deg) rotateZ(100deg);
    }

    100% {
        -webkit-transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    }
}

@-webkit-keyframes rot6 {
    0% {
        -webkit-transform: rotateX(69deg) rotateY(-18deg) rotateZ(27deg);
    }

    50% {
        -webkit-transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    }

    100% {
        -webkit-transform: rotateX(69deg) rotateY(-18deg) rotateZ(27deg);
    }
}

@-webkit-keyframes rot7 {
    0% {
        -webkit-transform: rotateX(39deg) rotateY(69deg) rotateZ(111deg);
    }

    50% {
        -webkit-transform: rotateX(13deg) rotateY(150deg) rotateZ(-75deg);
    }

    100% {
        -webkit-transform: rotateX(39deg) rotateY(69deg) rotateZ(111deg);
    }
}

@-webkit-keyframes rot8 {
    0% {
        -webkit-transform: rotateX(-66deg) rotateY(-43deg) rotateZ(64deg);
    }

    50% {
        -webkit-transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    }

    100% {
        -webkit-transform: rotateX(-66deg) rotateY(-43deg) rotateZ(64deg);
    }
}

@-webkit-keyframes rot9 {
    0% {
        -webkit-transform: rotateX(63deg) rotateY(-20deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(127deg) rotateY(75deg) rotateZ(-20deg);
    }

    100% {
        -webkit-transform: rotateX(63deg) rotateY(-20deg) rotateZ(-22deg);
    }
}

@-webkit-keyframes rot10 {
    0% {
        -webkit-transform: rotateX(1deg) rotateY(-20deg) rotateZ(-187deg);
    }

    50% {
        -webkit-transform: rotateX(17deg) rotateY(-75deg) rotateZ(-20deg);
    }

    100% {
        -webkit-transform: rotateX(1deg) rotateY(-20deg) rotateZ(-187deg);
    }
}

@-webkit-keyframes rot11 {
    0% {
        -webkit-transform: rotateX(-63deg) rotateY(-20deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(127deg) rotateY(75deg) rotateZ(120deg);
    }

    100% {
        -webkit-transform: rotateX(-63deg) rotateY(-20deg) rotateZ(-22deg);
    }
}

@-webkit-keyframes rot12 {
    0% {
        -webkit-transform: rotateX(167deg) rotateY(-20deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(17deg) rotateY(79deg) rotateZ(100deg);
    }

    100% {
        -webkit-transform: rotateX(167deg) rotateY(-20deg) rotateZ(-22deg);
    }
}

@-webkit-keyframes rot13 {
    0% {
        -webkit-transform: rotateX(156deg) rotateY(-170deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(-127deg) rotateY(75deg) rotateZ(-70deg);
    }

    100% {
        -webkit-transform: rotateX(156deg) rotateY(-170deg) rotateZ(-22deg);
    }
}

@-webkit-keyframes rot14 {
    0% {
        -webkit-transform: rotateX(-60deg) rotateY(67deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(127deg) rotateY(100deg) rotateZ(-20deg);
    }

    100% {
        -webkit-transform: rotateX(-60deg) rotateY(67deg) rotateZ(-22deg);
    }

}

@-webkit-keyframes rot15 {
    0% {
        -webkit-transform: rotateX(-63deg) rotateY(-120deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(-27deg) rotateY(75deg) rotateZ(-20deg);
    }

    100% {
        -webkit-transform: rotateX(-63deg) rotateY(-120deg) rotateZ(-22deg);
    }
}

@-webkit-keyframes rot16 {
    0% {
        -webkit-transform: rotateX(173deg) rotateY(-80deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(127deg) rotateY(-75deg) rotateZ(-20deg);
    }

    100% {
        -webkit-transform: rotateX(173deg) rotateY(-80deg) rotateZ(-22deg);
    }    
}

@-webkit-keyframes rot17 {
    0% {
        -webkit-transform: rotateX(1deg) rotateY(-80deg) rotateZ(-52deg);
    }

    50% {
        -webkit-transform: rotateX(127deg) rotateY(-75deg) rotateZ(-20deg);
    }

    100% {
        -webkit-transform: rotateX(1deg) rotateY(-80deg) rotateZ(-52deg);
    }
}

@-webkit-keyframes rot18 {
    0% {
        -webkit-transform: rotateX(73deg) rotateY(-80deg) rotateZ(-2deg);
    }

    50% {
        -webkit-transform: rotateX(27deg) rotateY(-5deg) rotateZ(-20deg);
    }

    100% {
        -webkit-transform: rotateX(73deg) rotateY(-80deg) rotateZ(-2deg);
    }
}

@-webkit-keyframes rot19 {
    0% {
        -webkit-transform: rotateX(3deg) rotateY(-0deg) rotateZ(-22deg);
    }

    50% {
        -webkit-transform: rotateX(-12deg) rotateY(-75deg) rotateZ(-120deg);
    }

    100% {
        -webkit-transform: rotateX(3deg) rotateY(-0deg) rotateZ(-22deg);
    }
}
/* mozilla transform */

@keyframes rot_m1
{
    from {
        transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    }

    to {
        transform: rotateX(192deg) rotateY(60deg) rotateZ(122deg);
    }
}
@keyframes rot_m2 {
    from {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
    }

    to {
        transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    }
}

@keyframes rot_m3 {
    from {
        transform: rotateX(70deg) rotateY(55deg) rotateZ(53deg);
    }

    to {
        transform: rotateX(113deg) rotateY(-60deg) rotateZ(72deg);
    }
}

@keyframes rot_m4 {
    from {
        transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    }

    to {
        transform: rotateX(13deg) rotateY(-160deg) rotateZ(-12deg);
    }
}

@keyframes rot_m5 {
    from {
        transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    }

    to {
        transform: rotateX(-102deg) rotateY(16deg) rotateZ(100deg);
    }
}

@keyframes rot_m6 {
    from {
        transform: rotateX(69deg) rotateY(-18deg) rotateZ(27deg);
    }

    to {
        transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    }
}

@keyframes rot_m7 {
    from {
        transform: rotateX(39deg) rotateY(69deg) rotateZ(111deg);
    }

    to {
        transform: rotateX(13deg) rotateY(150deg) rotateZ(-75deg);
    }
}

@keyframes rot_m8 {
    from {
        transform: rotateX(-66deg) rotateY(-43deg) rotateZ(64deg);
    }

    to {
        transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    }
}

@keyframes rot_m9 {
    from {
        transform: rotateX(63deg) rotateY(-20deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(127deg) rotateY(75deg) rotateZ(-20deg);
    }
}

@keyframes rot_m10 {
    from {
        transform: rotateX(1deg) rotateY(-20deg) rotateZ(-187deg);
    }

    to {
        transform: rotateX(17deg) rotateY(-75deg) rotateZ(-20deg);
    }
}

@keyframes rot_m11 {
    from {
        transform: rotateX(-63deg) rotateY(-20deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(127deg) rotateY(75deg) rotateZ(120deg);
    }
}

@keyframes rot_m12 {
    from {
        transform: rotateX(167deg) rotateY(-20deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(17deg) rotateY(79deg) rotateZ(100deg);
    }
}

@keyframes rot_m13 {
    from {
        transform: rotateX(156deg) rotateY(-170deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(-127deg) rotateY(75deg) rotateZ(-70deg);
    }
}

@keyframes rot_m14 {
    from {
        transform: rotateX(-60deg) rotateY(67deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(127deg) rotateY(100deg) rotateZ(-20deg);
    }
}

@keyframes rot_m15 {
    from {
        transform: rotateX(-63deg) rotateY(-120deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(-27deg) rotateY(75deg) rotateZ(-20deg);
    }
}

@keyframes rot_m16 {
    from {
        transform: rotateX(173deg) rotateY(-80deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(127deg) rotateY(-75deg) rotateZ(-20deg);
    }
}
@keyframes rot_m17 {
    from {
        transform: rotateX(1deg) rotateY(-80deg) rotateZ(-52deg);
    }

    to {
        transform: rotateX(127deg) rotateY(-75deg) rotateZ(-20deg);
    }
}
@keyframes rot_m18 {
    from {
        transform: rotateX(73deg) rotateY(-80deg) rotateZ(-2deg);
    }

    to {
        transform: rotateX(27deg) rotateY(-5deg) rotateZ(-20deg);
    }
}
@keyframes rot_m19 {
    from {
        transform: rotateX(3deg) rotateY(-0deg) rotateZ(-22deg);
    }

    to {
        transform: rotateX(-12deg) rotateY(-75deg) rotateZ(-120deg);
    }
}

.transformed{
    height: 28%;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    

}

#trans1{
    -webkit-transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
    -webkit-animation-name: rot1;
    animation-name: rot_m1;
    transform: rotateX(13deg) rotateY(21deg) rotateZ(22deg);
}
    

#trans2{
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
    -webkit-animation-name: rot2;
    margin-top: 10%;
    margin-left: 2%;
    animation-name: rot_m2;
    transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
}

#trans3{
    -webkit-transform: rotateX(70deg) rotateY(55deg) rotateZ(53deg);
    margin-top: 0%;
    margin-left: -44%;
    -webkit-animation-name: rot3;
    animation-name: rot_m3;
    transform: rotateX(70deg) rotateY(55deg) rotateZ(53deg);
}

#trans4{
    -webkit-transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
    margin-top: 58%;
    -webkit-animation-name: rot4;
    animation-name: rot_m4;
    transform: rotateX(43deg) rotateY(5deg) rotateZ(44deg);
}

#trans5{
    -webkit-transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
    margin-top: 88%;
    margin-left: -10%
    -webkit-animation-name: rot5;
    animation-name: rot_m5;
    transform: rotateX(27deg) rotateY(-59deg) rotateZ(67deg);
}

#trans6{
    -webkit-transform: rotateX(69deg) rotateY(-18deg) rotateZ(27deg);
    margin-top: 51%;
    margin-left: -20%;
    -webkit-animation-name: rot6;
    transform: rotateX(69deg) rotateY(-18deg) rotateZ(27deg);
    animation-name: rot_m6;
}

#trans7{
    -webkit-transform: rotateX(39deg) rotateY(69deg) rotateZ(111deg);
    margin-top: 38%;
margin-left: -40%;
    -webkit-animation-name: rot7;
    transform: rotateX(39deg) rotateY(69deg) rotateZ(111deg);
    animation-name: rot_m7;
}

#trans8{
    -webkit-transform: rotateX(-66deg) rotateY(-43deg) rotateZ(64deg);
    margin-top: 146%;
    margin-left: -14%;
    -webkit-animation-name: rot8;
    transform: rotateX(-66deg) rotateY(-43deg) rotateZ(64deg);
    animation-name: rot_m8;
}

#trans9{
    -webkit-transform: rotateX(63deg) rotateY(-20deg) rotateZ(-80deg);
    margin-top: 100%;
margin-right: 40%;
    -webkit-animation-name: rot9;
    transform: rotateX(63deg) rotateY(-20deg) rotateZ(-80deg);
    animation-name: rot_m9;
    
}
#trans10{
    -webkit-transform: rotateX(1deg) rotateY(-20deg) rotateZ(-187deg);
    margin-top: 19%;
    margin-right: 0%;
    -webkit-animation-name: rot10;
    transform: rotateX(1deg) rotateY(-20deg) rotateZ(-187deg);
    animation-name: rot_m10;
    
}
#trans11{
    -webkit-transform: rotateX(-63deg) rotateY(-20deg) rotateZ(-22deg);
    margin-top: 126%;
    margin-left: -24%;
    -webkit-animation-name: rot11;
    transform: rotateX(-63deg) rotateY(-20deg) rotateZ(-22deg);
    animation-name: rot_m11;
    
}
#trans12{
    -webkit-transform: rotateX(167deg) rotateY(-20deg) rotateZ(162deg);
    margin-top: 146%;
    margin-left: 14%;
    -webkit-animation-name: rot12;
    transform: rotateX(167deg) rotateY(-20deg) rotateZ(162deg);
    animation-name: rot_m12;
    
}
#trans13{
     -webkit-transform: rotateX(156deg) rotateY(-170deg) rotateZ(67deg);
    margin-top: 86%;
margin-left: -30%;
    -webkit-animation-name: rot13;
    transform: rotateX(156deg) rotateY(-170deg) rotateZ(67deg);
    animation-name: rot_m13;
    
}
#trans14{
    -webkit-transform: rotateX(-60deg) rotateY(67deg) rotateZ(-78deg);
   margin-top: 96%;
    -webkit-animation-name: rot14;
    transform: rotateX(-60deg) rotateY(67deg) rotateZ(-78deg);
    animation-name: rot_m14;
    
}
#trans15{
     -webkit-transform: rotateX(-63deg) rotateY(-120deg) rotateZ(22deg);

   margin-top: 106%;
   margin-right: 2%;
    -webkit-animation-name: rot15;
    transform: rotateX(-63deg) rotateY(-120deg) rotateZ(22deg);
    animation-name: rot_m15;
    
}
#trans16{
    -webkit-transform: rotateX(173deg) rotateY(-80deg) rotateZ(90deg);
    margin-top: 63%;
margin-left: 42%;
    -webkit-animation-name: rot16;
    transform: rotateX(173deg) rotateY(-80deg) rotateZ(90deg);
    animation-name: rot_m16;
    
}



#trans17{
    -webkit-transform: rotateX(1deg) rotateY(-80deg) rotateZ(-52deg);
    margin-top: 5%;
    margin-left: -40%;
    -webkit-animation-name: rot17;
    transform: rotateX(1deg) rotateY(-80deg) rotateZ(-52deg);
    animation-name: rot_m17;
    
}
#trans18{
    -webkit-transform: rotateX(73deg) rotateY(-80deg) rotateZ(-2deg);
    margin-top: 165%;
    margin-right: 5%;
    -webkit-animation-name: rot18;
    transform: rotateX(73deg) rotateY(-80deg) rotateZ(-2deg);
    animation-name: rot_m18;
    
}
#trans19{
    -webkit-transform: rotateX(173deg) rotateY(-80deg) rotateZ(90deg);
    margin-top: 100%;
    margin-right: 270%;
    -webkit-animation-name: rot19;
    transform: rotateX(3deg) rotateY(-0deg) rotateZ(-22deg);
    animation-name: rot_m19;
    
}

#right-header{
    position: relative;
    width: 60%;
    margin: 10% 0% 5% 5%;
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    -transform: rotate(-14deg);
}


#header-text{
    font-size: 1.5vw;
    font-weight: bold;
    
}
#mid-text{
    width: 60%;
    margin: 3% 0% 0% 5%;
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    -transform: rotate(-14deg);
}

#mid-text h2{
   clear: both;
   font-size: 2.7vw;
   margin: 0
}

#mid-text p{
    font-size: 1.4vw;
    margin-top: 0;
}


/* Loader css */

#loaderWrapper{
    -webkit-transform: rotate(-14deg);
    width: 200px;
    margin-left: 20%;
    margin-top: 75%;
}

#loading{
    color: #CECECE;
    -webkit-animation: loading_rotate 2s ease-in-out infinite;
    text-align: center;
}

@keyframes loading_rotate {

    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes loading_rotate {

    0% {
        -webkit-transform: rotateX(0deg);
    }

    50% {
        -webkit-transform: rotateX(180deg);
    }

    100% {
        -webkit-transform: rotateX(360deg);
    }
}

#progress{
    font-family: "Oxygen";
    font-size: 6vw;
    color: #3D3D3D;
    text-align: center;
}

#enter{
    font-family: "Cyberverse";
    text-align: center;
    font-size: 2.1vw;
    color: #000;
    display: none;
    top: 40px;
    position: relative;

}



/* ================================== css for contact ===================================   */


.contact{
    line-height: 1;
    font-size: 1.4vw;
    font-family: "Oxygen";
    color: hsl(0, 15%, 19%);
    position: relative;
    margin: 0px;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 80%;
}

.assym{
    

}

.black {
   /* box-shadow: 2px 5px 6px #000 , 2px -5px 6px #000;
 */
}
#cont0{
    position: absolute;
    margin: 0px;
    left: -13%;
    top: 26%;
    height: 50%;
    width: 30%;
    background-color: #727272;
    float: left;
    z-index: 6;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

#c7{

    color: #000000;
    font-size: 2.5vw;
    margin-top: 18%;
    margin-left: 44%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    padding: 1px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}


#cont1{
    position: absolute;
    margin: 0px;
    left: -1%;
    top: -20%;
    height: 60%;
    width: 30%;
    background-color: #B4B4B4;
    float: left;
    z-index: 6;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
#online{
    font-size: 1.8vw;
    font-family: "Oxygen", arial, sans-serif;
    line-height: 10px;
    font-weight: normal;
    margin-left: 10%;
    margin-top: 30%;
    padding: 20px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
#cont2{
   position: absolute;
    margin: 0px;
    left: 20%;
    top: -41%;
    height: 60%;
    width: 40%;
    background-color: #555557;
    float: left;
    z-index: 2;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
#chief{
    color: #AFCAC9;
    line-height: 10px;
    font-weight: normal;
    
    margin-left: 51%;
    margin-top: 41%;
    padding: 15px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#cont3{
    position: absolute;
    margin: 0px;
    left: 69%;
    top: 14%;
    background-color: #131212;
    height: 82%;
    width: 70%;
    float: left;
    z-index: 6;
    -webkit-transform: rotate(-46deg);
    transform: rotate(-46deg);
}
#web{
    line-height: 0.5;
    color: #A0A0A0; 
    font-weight: normal;
    
    margin-top: 30%;
    margin-left: -2%;
    padding: 10px;
    -webkit-transform: rotate(46deg);
    transform: rotate(46deg);
}
#cont4{
    position: absolute;
    margin: 0px;
    left: 65%;
    top: -34%;
    background-color:  #222224;
    height: 67%;
    width: 47%;
    float: left;
    -webkit-transform: rotate(-144deg);
    transform: rotate(-144deg);
    z-index: 4;
}
#tech{
    color: #C2C1D1;
    line-height: 0px;
    font-weight: normal;
    margin-right: 27%;
    margin-top: 19%;
    padding: 14px;
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);

}

#cont5{
   position: absolute;
    bottom: 38%;
    right: 9%;
    margin: 0px;
    background-color:#3F3F41;
    height: 60%;
    width: 40%;
    float: left;
    z-index: 1;
    -webkit-transform: rotate(64deg);
    transform: rotate(64deg);
}
#design{
     color: #000000;
    line-height: 10px;
    font-weight: normal;
    
    margin-left: 14%;
    margin-top: 14%;
    padding: 10px;
    -webkit-transform: rotate(-64deg);
    transform: rotate(-64deg);
}
#cont6{
    position: absolute;
bottom: -24%;
right: 73%;
margin: 0px;
background-color: #444346;
height: 60%;
width: 40%;
float: left;
z-index: 6;
-webkit-transform: rotate(-23deg);
transform: rotate(-23deg);
}

#media{
    color: #BBBBDA;
    line-height: 5px;
    font-weight: normal;
    
    margin-left: 46%;
    margin-top: 20%;
    padding: 10px;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);

}
#cont7{
    position: absolute;
    bottom: 5%;
    right: 24%;
    margin: 0px;
    background-color: #2B2B31;
    height: 90%;
    width: 66%;
    float: left;
    z-index: 0;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#faculty{
    line-height: 0.5;
    color: hsl(182, 43%, 83%);
    font-weight: normal;
    margin-left: 29%;
    margin-top: 17%;
    padding: 10px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
#cont8{
    
    position: absolute;
    bottom: -48%;
    right: 21%;
    margin: 0px;
    background-color: #1D1D1D;
    height: 60%;
    width: 74%;
    float: left;
    z-index: 5;
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}
#discipline{
    color: #A8BCCA;
    line-height: 5px;
    font-weight: normal;
    margin-left: 70%;
    margin-top: 1%;
    padding: 15px;
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}

/* ================== about_us =========================*/

.about_us{
    font-size: 137%;
    background-color: #000000;
    color: hsl(0, 15%, 19%);
    position: relative;
    -webkit-column-count: 6;
    -webkit-column-gap: 0px;
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;
    overflow: hidden;
    
}

.about_us img{
    width: 100% !important;
    height: auto !important;
    -webkit-filter: grayscale(90%) brightness(25%);
    -moz-filter: grayscale(90%) brightness(25%);
    -o-filter: grayscale(90%) brightness(25%);
    -ms-filter: grayscale(90%) brightness(25%);
     filter: grayscale(90%) brightness(25%);
}
@media (max-width: 1200px) {
  .about_us {
  -moz-column-count:    7;
  -webkit-column-count: 7;
  column-count:         7;
  }
}
@media (max-width: 1000px) {
  .about_us {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
@media (max-width: 800px) {
  .about_us {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 400px) {
  .about_us {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

#left_about{
    color: #BDDA4C;
    padding: 20px;
    height: 83%;
    width: 30%;
    background-color: rgba(155, 155, 155, 0.21);
    position: absolute;
    top: 2%;
    left: 1%;
    display: none;

}

#right_about{
    text-align: center;
    word-spacing: 5px;
    color: #E9E9E9;
    padding: 5px 25px 0px 25px;
    width: 64%;
    position: absolute;
    right: 4%;
    top: 2%;
    text-shadow: 4px 9px 10px #000;
}

/* ======================== EVENTS PAGE CSS ======  */

#event{
    font-size: 137%;
    width: 100%;
    background-color: #000000;
    font-family: "Oxygen";
    color: hsl(0, 15%, 19%);
    position: relative;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 115%;
    line-height: 1.2;   
}
.branch{
     font-weight: bold;
    padding-left: 2%;
    padding-top: 20%;
    height: 100%;
    float: left;
    width: 16.667%;
}

#mega{
    background-color: #C9C9C9;  
    color: #3D3D3D;
}

#cse{
   
    color: #FFFFFF;
    background-color: rgb(167, 167, 167);

}

#mech{
    background-color: rgb(138, 138, 138);
    color: #186EB1;
}

#ece{
    background-color: rgb(104, 104, 104);
    color: #E05700;
}

#arch{
    background-color: rgb(71, 71, 71);
    color: #9B59B6;
}

#ibt{
    background-color: rgb(56, 56, 56);
    color: #6fb118;
}

/* ============================   */

/* ============ Class PAGE =========== */
.page{
    
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    display: none;  
}


/*================ REGISTER PAGE CSS ==================================== */
.register_form{
    font-size: 85%;
    width: 100%;
    background-color: #000000;
    font-family: "Oxygen";
    color: hsl(0, 15%, 19%);
    position: relative;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;

    line-height: 2;  
    overflow: hidden;
}
#form{

    color: hsl(166, 13%, 59%);
    word-spacing: 5px;
    text-align: left;
    position: relative;

}

#reg_head{
    padding: 30px;
    margin-left: 10%;
    text-align: center;
    font-size: 250%;
    position: relative;
    font-family: "Cyberverse";
}

#reg_form{
    line-height: 2.4;
    margin-left: 10%;
    width: 60%;
    padding: 10px;
    background: rgba(38, 44, 46, 0.27);
    
}

#join{
    padding: 10px;
    position: relative;
    font-size: 130%;
    margin-left: 22%;
}
#join button{
    font-family: "Ubuntu-L";
    color: #000000;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
