# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
-# Numerous always-ignore extensions
-*.diff
-*.err
-*.orig
-*.log
-*.rej
-*.swo
-*.swp
-*.vi
-*~
-*.sass-cache
-
-#php and sql files 
-*.sql
-connect.php
-
-# OS or Editor folders
-.DS_Store
-Thumbs.db
-.cache
-.project
-.settings
-.tmproj
-*.esproj
-nbproject
-*.sublime-project
-*.sublime-workspace
-
-# Dreamweaver added files
-_notes
-dwsync.xml
-
-# Komodo
-*.komodoproject
-.komodotools
-
-# eclipse
-.project
-.metadata
-
-
-# Folders to ignore
-.hg
-.svn
-.CVS
-intermediate
-publish
-Titiksha_2013
-.idea
-
-# build script local files
-build/buildinfo.properties
-build/config/buildinfo.properties
-errorlog.txt
-
-#errorfile
-error_log
-
-#local temporary files
-favicon.png
-titiksha_2015
