::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    padding: 30px 10px;
    font-size: 20px;
    line-height: 1.4;
    color: #737373;
    background: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0 10px;
    font-size: 35px;
    text-align: center;
}

h1 span {
    color: #bbb;
}

h3 {
    margin: 1.5em 0 0.5em;
}

p {
    margin: 1em 0;
    text-align: center;
}

ul {
    padding: 0 0 0 40px;
    margin: 1em 0;
}

.loginBox {
    position: relative;
    width: 400px;
    max-width: 500px;
    padding: 30px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 80px auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}
form[name="login_form"]{
    margin: 10px 20px;
}
.button{
    width: 70px;
    height: auto;
    background-color: #737373;
    color: #fff;
    text-align: center;
    border: 3px outset #A7A0A0;
    cursor: pointer;
}
.login{
    float: left;
    padding: 5px;
    margin: 10px 80px;
}

.reset{
    color: #5762E0;
    font-size: 16px;
    float: right;
    width: 110px;
    margin: 30px 0px;
    text-decoration: underline;
    cursor: pointer;
}
.msg{
    color: red;
}

.dashboard {
    position: relative;
    width: 85%;
    min-height: 500px;
    padding: 30px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0px auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

.header{
    position: relative;
    width: 100%;
    height: 75px;
}
#header-title{
    font-size: 35px;
    float: left;
    width: 85%;
    text-align: center;
}
#logout{
    cursor: pointer;
    float: right;
    width: 15%;
    text-align: center;
}

.queryBox{
    position: relative;
    width: 100%;
}

.query_content{
    width: 60%;
    float: left;
    padding: 0px 0px 0px 90px;

}
.query_submit{
    width: 30%;
    float: right;
    padding: 0px 0px;
}