::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    padding: 30px 10px;
    font-size: 20px;
    line-height: 1.4;
    color: #737373;
    background: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0 10px;
    font-size: 35px;
    text-align: center;
}

h1 span {
    color: #bbb;
}

h3 {
    margin: 1.5em 0 0.5em;
}

p {
    margin: 1em 0;
    text-align: center;
}

ul {
    padding: 0 0 0 40px;
    margin: 1em 0;
}

.loginWrapper{
    width: 50%;
    height: ;
    margin: 80px auto;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}
.loginBox {
    position: relative;
    width: 400px;
    padding: 30px 20px; 
    margin-left: 110px;  
}
form[name="login_form"]{
    margin: 10px 20px;
}
.button{
    width: 70px;
    height: auto;
    background-color: #737373;
    color: #fff;
    text-align: center;
    border: 3px outset #A7A0A0;
    cursor: pointer;
}
.login{
    float: left;
    padding: 5px;
    margin: 10px 80px;
}

.reset{
    color: #5762E0;
    font-size: 16px;
    float: right;
    width: 110px;
    margin: 30px 0px;
    text-decoration: underline;
    cursor: pointer;
}
.msg{
    color: red;
}

.msg-Box{
    position: fixed;
    top: 30%;
    width: 50%;
    left: 25%;
    height: auto;
    text-align: center;
    z-index: 2000;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
}

.msg-close{
    float: right;
    width: 25px;
    height: 40px;
    cursor: pointer;
    font-size: 1.3em;
    margin: -15px 0px 0px 0px;
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.loading{
    background-color: #4B4E46;
    color: #fff; 
}

.dashboard {
    position: relative;
    width: 85%;
    min-height: 500px;
    padding: 30px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0px auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

.header{
    position: relative;
    width: 100%;
    height: 75px;
}
#header-title{
    font-size: 35px;
    float: left;
    width: 85%;
    text-align: center;
}
#logout{
    cursor: pointer;
    float: right;
    width: 15%;
    text-align: center;
}

.queryBox{
    position: relative;
    width: 100%;
    height: 55px;
}

.query_content{
    float: right;
}
.query_submit{
    margin: 0px 20px;
}

#reset-query{
    color: #5762E0;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}
#result-head{
    width: 100%;
    height: 40px;
}

#head-content{
    width: 300px;
    float: left;
}

#print{
    width: 100px;
    float: right;
}

.queryResult table {
    width: 100%;
    text-align: center;
}

.queryResult table tr:nth-child(2n) {
    background-color: #FFF;
}
.queryResult table tr:nth-child(2n+1) {
    background-color: rgb(211, 211, 211);
}
.queryResult table th {
    border: 1px solid #000;
}

.queryResult table td {
    border: 1px solid #000;
}
  