@font-face{
			font-family: 'moon';
			src:url('../fonts/MoonLight.otf');
		}
ul#countdown {
	position: fixed;
	top: 50px;
	right: 50px;
	margin: 0px auto;
	padding: 2px;
	
}
ul#countdown li{
	padding-top: 10px;
	background-color:rgba(15,15,15,0);
	color: #f4f4f4;
	display: inline;
	float: left;
	font: normal  25px moon;
	letter-spacing: 5px;
	margin-left: 5px;
	text-align: center;
	width: 50px;

	
}
ul#countdown span {
	padding-left: 5px;
}
ul#countdown  p.timeRefDays, ul#countdown  p.timeRefHours, ul#countdown  p.timeRefMinutes, ul#countdown  p.timeRefSeconds{
	font: normal normal 10px moon;
	letter-spacing: 0;
	margin: 0;
	padding-bottom: 2px;
}