.hero-unit{
	padding-top: 50px;
	background: url('../img/banner-top.jpg') #000 ;
	color: #fff;
}

.hero-unit h1 {
	color: #fff;
	font-size: 42px;
	font-weight: normal;

}

.hero-unit p {
	font-size: 13px;	
}

body{
	background: #EEEEEE url(../img/bg-light.jpg) repeat;
}

h1, h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: #DDD 0px 2px 2px;
}

#countdown-header {
    float: right;
    margin-right: 70px;
    margin-top: -143px;
    width: 200px;
}

/* jQuery Countdown styles 1.5.11. */
.hasCountdown {
  /*border: 1px solid #ccc;*/
  /*background-color: #eee;*/
}
.countdown_rtl {
  direction: rtl;
}
.countdown_holding span {
  background-color: #fff;
}
.countdown_row {
  clear: both;
  width: 100%;
  padding: 0px 2px;
  text-align: center;
}
.countdown_show1 .countdown_section {
  width: 98%;
}
.countdown_show2 .countdown_section {
  width: 48%;
}
.countdown_show3 .countdown_section {
  width: 32.5%;
}
.countdown_show4 .countdown_section {
  width: 24.5%;
}
.countdown_show5 .countdown_section {
  width: 19.5%;
}
.countdown_show6 .countdown_section {
  width: 16.25%;
}
.countdown_show7 .countdown_section {
  width: 14%;
}
.countdown_section {
  display: block;
  float: left;
  font-size: 75%;
  text-align: center;
}
.countdown_amount {
  font-size: 200%;
}
.countdown_descr {
  padding-top: 10px;
  display: block;
  width: 100%;
}


/******************************/
/* Latest updates ************/
/****************************/
p#lifestream {
  height: 250px;
  overflow: auto;
}

#lifestream ul{
  margin-left: 0px;
}

#lifestream a {
  /*color: #f6dd97;*/
  text-decoration: none;
}

#lifestream a:hover {
  /*color: #fff5d8;*/
  text-decoration: underline;
}

#lifestream ul {
 
}
#lifestream li {
  padding: 5px 3px 5px 25px;
  background-repeat: no-repeat;
  background-position: left 9px;
  list-style: none;
}
#lifestream li:hover {
  color: #000;
}
#lifestream .timeago {
  opacity: .5;
}

/***************************/
footer {
  margin: 20px 0 30px 0px;
}

footer #left {
  text-align: right;
}